@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf0e6;
}

/* Prevent links from changing color when clicked */
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

/* Dual-tone focus indicator for all focusable elements */
*:focus {
  /* inner indicator */
  outline: 2px #1a1a1a solid;
  outline-offset: 0;
  /* outer indicator */
  box-shadow: 0 0 0 4px #faf0e6;
}

.page-container {
  max-width: 960px;
  margin: 0 auto 20px auto;
  padding: 1rem;
  background-color: #faf0e6; /* A creamy white color */
  color: #1a1a1a; /* A very dark brown color */
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

header {
  margin: 0 0 20px 0; /* Top and bottom margins are 0, left and right margins are 20px */
  background-color: #faf0e6; Same as .page-container
  color: #1a1a1a; Same as .page-container
}

footer {
  margin: 20px 0; /* Add vertical margin */
  background-color: #1a1a1a; /* Inverse of .page-container */
  color: #faf0e6; /* Inverse of .page-container */
}

header ul,
footer ul {
  padding-left: 0;
  list-style-type: none;
}

header li,
footer li {
  display: inline-block;
  margin: 0.5em 25px;
}
