# Zola output folder
public/
static/processed_images/*

# OS / editor cruft
.DS_Store
Thumbs.db
*.swp

# Zola cache (optional, if using caching)
.cache/

# Editor/IDE files
.vscode/
.idea/

# Node/npm if you use them for any tooling
node_modules/
npm-debug.log
yarn-error.log

# Other temp files
*.log
*.tmp
