@use "syntax-theme-dark";

@mixin theme($theme: dark) {
    --background-color: #402A12;
    --header-background-color: #402A12;
    --text-color: #EFE8E3;
    --text-accent-color: #b3a196;
    --border-color: rgb(66, 66, 66);
    --link-color: #5C9EAD;
    --link-hover-color: #D38299;
    --link-hover-line-color: #D38299;
    --icon-hover-color: var(--link-hover-color);
    --icon-color: var(--text-color);
    --code-background: rgb(32, 32, 32);
    --table-header-background-color: var(--header-background-color);
}

:root {
    @include theme($theme: dark);
    @include syntax-theme-dark.dark;
}

.img-dark {
    filter: invert(100%) hue-rotate(180deg);
}