@use "syntax-theme-light";

@mixin theme($theme: light) {
    --background-color: #F5E7DE;
    --header-background-color: #F5E7DE;
    --text-color: #54311A;
    --text-accent-color: rgb(117, 117, 117);
    --border-color: rgb(195, 195, 195);
    --link-color: #035E7B;
    --link-hover-color: #9F1C53;
    --link-hover-line-color: #9F1C53;
    --icon-hover-color: var(--link-hover-color);
    --icon-color: var(--text-color);
    --code-background: rgb(247, 248, 250);
    --table-header-background-color: var(--header-background-color);
}

:root {
    @include theme($theme: light);
    @include syntax-theme-light.light;
}